<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Taxonomy">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="tmp/logfile.xml" logIncompleteSkipped="false" />
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>